* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html,
body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  /* line-height: 1.5; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; /* or add it to the track */
  }

body::-webkit-scrollbar-thumb {
    background-color: #2F3D53;
    border-radius: 100vw;

    transition: filter 0.2s ease;    
}

.container{
  padding-top: 1.5rem;
  padding-inline: 1.6875rem;
}

.mobileHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.overlay{
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  opacity: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  transition: opacity 0.3s ease, z-index 0.3s ease;
}

.overlay.active{
  cursor: pointer;
  z-index: 99999;
  opacity: 100%;
}

.menuActive{
  z-index: 100000;
  background-color:#fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-right: 1.5rem;
  padding-left: 2rem;
  padding-top: 1rem;
  width: 70%;
  height: 100vh;
  transition: all 0.5s ease;
  transform: translateX(-100%);
}

.menuActive.active{  
  transform: translateX(0);
}

.menuActive .close{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.menuActive.active .close .closeBtn{
  cursor: pointer;
}

.menuActive .navigationlinks{
  display: flex;
  gap: 1.4rem;
  flex-direction: column;
  list-style-type: none;
}

.menuActive .navigationlinks a{
  color: #2F3D53;
  cursor:pointer;
  font-weight: 600;
}

.menuActive button{
  margin-top: 1.4rem;
  cursor:pointer;
  max-width: 100px;
  display: flex;
  padding-block: 0.5rem;
  justify-content: center;
  background: transparent;
  width: 100%;
  border-radius: 4px;
  color: #51B4D9;
  border: 1px solid #51B4D9; 
}

.desktopHeader{
  display:none;
}

.logoHeader{
  object-fit: cover;
  cursor:pointer;
}

.hamburguerMenu{
  cursor: pointer;
}


.banner{
  padding-block: 2.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.banner h1{
  font-weight: bold;
  font-size: 2.2rem;
  color: #2F3D53;
  line-height: 3rem;
}

.banner span{  
  font-weight: 400;
  font-size: 1.2rem;
  color: #2F3D53;
}

.banner img{
  object-fit: cover;
  border-radius: 10px;
}


.meuWorkflow{
  padding-block: 3.875rem;
  color: #F8F9FB;
  background: linear-gradient(62.19deg, #010E28 29.1%, #01304A 106.64%);
  padding-inline: 1.6875rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meuWorkflow span::before{
  display: flex;
  justify-content: flex-end;
  margin-bottom: -16rem;
  content: url(./assets/images/computerMobileComplement.png);
}

.meuWorkflow h2{
  font-size: 1.9rem;
  font-weight: 600;
}

.meuWorkflow img{
  margin-top: -2rem;
  object-fit: cover;
  max-width: 380px;
}

.servicos{
  padding-top: 4rem;
  padding-inline: 1.6875rem;
  text-align: center;
}

.servicos .firstTitle{
  font-size: 1.6rem;
  font-weight: 700;  
  color: #2F3D53;
  margin-bottom: 1rem;
}

.servicos .firstSubTitle{  
  font-size: 1.1rem;
  color: #2F3D53;
}


.swiper {
  height: 260px;
  --swiper-theme-color: #2F3D53;
}

.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 220px;
}

.content{
  text-align: center;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  border-radius: 4px;
  background: #fff;
  border: 0.8px solid #D8DEE0;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.08);
  height: 196px;
  max-width: 220px;
  --swiper-navigation-size:20px;
}

.content img{
  max-width: 2rem;
  object-fit: cover;
}

.content span{
  font-size: 0.9rem;
  font-weight: 400;
  color: #2F3D53;
}

.swiper-button-prev, .swiper-button-next{
  --swiper-navigation-size:18px;
  font-weight: bold;
}

.gerenciamento{
  padding-top: 2rem;
  padding-inline: 1.6875rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.gerenciamento h2{
  font-weight: 700;
  text-align: left;
  font-size: 1.6rem;
  line-height: 48px;
  color: #2F3D53;
}

.gerenciamento span{
  font-size: 1.1rem;
  color: #2F3D53;
  text-align: left !important;
}

.gerenciamento img{
  max-width: 380px;
  object-fit: cover;
}

.gerenciamento::after{
  display: flex;
  justify-content: center;
  z-index:-1;
  margin-top: -14rem;
  width: 100%;
  content: url(./assets/images/argolas.png);
}


.adaptavel{
  text-align: center;
  padding-inline: 1.6875rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.adaptavel h2{
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 48px;
  color: #2F3D53;
}

.adaptavel span{
  font-size: 1.1rem;
  color: #2F3D53;
}

.frame{
  width: 100%;
  margin-block: 1rem;
  background: linear-gradient(113.03deg, #010E28 5.44%, #01304A 112.59%);
}

.frame img{
  max-height: 155px; 
  width: 100%;
  object-fit: cover;
}


.avaliacoes{
  text-align: center;
  padding-inline: 1.6875rem;
  padding-block:4rem;
}

.avaliacoes h2{
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 48px;
  color: #2F3D53;
}


.avaliacoes{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
  color: #2F3D53;
}

.swiper-avaliacoes{
  height: 100%;
  --swiper-theme-color: #2F3D53;
}

/* AVALIACOES CONTENT */
.avaliacoes-content{
  margin-bottom: 2.2rem ;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.4rem;
  border-radius: 10px;
  background: #fff;
  border: 0.8px solid #D8DEE0;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.17);
  padding-block: 1.5rem;
  max-width: 220px;
  --swiper-navigation-size:20px;
}


.avaliacoes-content img{
  max-width: 6rem;
  object-fit: cover;
}

.avaliacoes-content span{
  font-size: 0.8rem;
  text-align: left;
  color: #495058;
}


.cliente{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.cliente img{
  object-fit: cover;
  height:24px;
  width: 24px;
}

.cliente-description{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}


.cliente-description h5{
  font-size: 0.8rem;
  font-weight: 600;
}

.cliente-description span{
  font-size: 0.7rem;
}

.footer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-block: 1.1rem;
  font-size: 0.75rem;
  text-align: center;
  color: #fff;
  background: linear-gradient(113.03deg, #010E28 5.44%, #01304A 112.59%);
}

.footer a {
  text-decoration: none;
  cursor: pointer;
  color:#fff;
}


@media only screen and (min-width: 1024px){
  .mobileHeader{
    display:none;
  }
  .desktopHeader{
    display: flex;;
  }
}